.yellow{
  background-color: rgba(255,255,0,.5);
}
.blue{
  background-color: rgba(0,0,255,.5);
}
.gray, .grey{
  background-color: rgba(0,0,0,.5);
}
.green{
  background-color: rgba(0,255,0,.5);
}
.red{
  background-color: rgba(255,0,0,.5);
}
.recipe{
  max-width: 700px
}
.recipe .recipe-panel-right{
  padding: 0;
  padding-left: 4px;
}
.recipe .recipe-panel-left{
  padding: 0;
  padding-right: 4px;
}
.recipe .littleItem{
  vertical-align: middle;
  font-size: 1.1em;
}
.noPadding{
  padding:0 !important;
}
.lrPadding{
  padding: 15px;
  padding-bottom: 0;
}
.lrPadding:first-of-type{
  padding: 15px;
  padding-top: 0;
  padding-bottom: 0;
}
.lrPadding:last-of-type{
  padding: 15px;
  padding-bottom: 0;
}

@media all and (max-width: 768px) {
  .recipe .recipe-panel-right, .recipe .recipe-panel-left{
    padding:0;
  }
}
